Beaker==1.12.1
clickhouse_connect==0.5.20
joblib==1.2.0
keras==2.12.0
lightgbm==3.3.5
matplotlib==3.7.1
numpy==1.23.5
pandas==2.0.1
scikit_learn==1.2.2
tqdm==4.65.0
typed_argument_parser==1.8.0
xgboost==1.7.5
